<% content_for :exhibition do %>
  <div class="articleContainer">
    <div class="spacer">
      <div class="gridlayout">
        <article class="row">
          <div class="column col1-1">
            <div class="gridSpacer">
              <h1>Who are the <%= image_tag 'projectlodge-light.png', :alt => '.projectlodge',:class => 'projectlodgeLogo' %>?</h1>
            </div>
          </div>
          <div class="column col1-2">
            <div class="gridSpacer">
              <p>The question should not be what, but who! Linking people together in an open and free environment to do what they like to do. Create musical instruments, collaborate on art pieces, helping out a local causes, plan performances and anything you can imagine. Innovating together in technology and growing personally in knowledge.</p>
            </div>
          </div>
          <div class="column col1-2">
            <div class="gridSpacer">
              <p>We want to enable the individual to contribute to the world on their own terms,
                level and field. Shaping themselves and the world around them and improving one bit at a time.</p>
              <p>Basically we are a group of technical geeks. We want to learn new things,
                meet new people and have some fun at the same time. Interested? Join us!</p>
            </div>
          </div>
        </article>
      </div>
      <div class="break"></div>
    </div>
  </div>
<% end %>

<% content_for :breadcrumb do %>
  <ul>
    <li><%= link_to image_tag('transparent.gif') + 'Users', '#' %></li>
  </ul>
<% end %>

<div class="row memberUnits">
  <% @random_users.each do |user| %>
    <% if user.profile %>
      <div class="column col1-6">
        <figure>
          <a href="<%= user_path(user) %>" class="gridSpacer block<%= ' female' if user.profile.gender == 'f' %>">
            <div class="caption">
              <h5><%= user.profile.fullname %></h5>
              <p><%= user.profile.title %></p>
            </div>
          </a>
        </figure>
      </div>
    <% end %>
  <% end %>
  <div class="break"></div>
</div>

<div class="row">
  <%= link_to 'Show more members', users_path %>
</div>
