<div class="row">
  <div class="column col1-1">
    <div class="gridSpacer">
      <h1>The members of the <%= image_tag 'projectlodge.png', :alt => '.projectlodge',:class => 'projectlodgeLogo' %></h1>
    </div>
  </div>
</div>

<div class="row memberUnits">
  <% @users.each do |user| %>
    <%  if user.profile %>
    <div class="column col1-6">
      <figure>
        <a href="<%= user_path(user) %>" class="gridSpacer block<%= ' female' if user.profile.gender == 'Female' %>">
          <div class="caption">
            <h5><%= user.profile.fullname %></h5>
            <p><%= user.profile.title %></p>
          </div>
        </a>
      </figure>
    </div>
  <% end %>
  <% end %>
  <div class="break"></div>
</div>
