<div class="row">
  <div class="column col1-1">
    <div class="spacer">
      <div class="pageHeader">
        <h1>The members of the <%= image_tag 'projectlodge.png', :alt => '.projectlodge',:class => 'projectlodgeLogo' %></h1>
      </div>
    </div>
  </div>
</div>

<div class="row memberUnits">
  <% @users.each do |user| %>
    <div class="column col1-6">
      <figure>
        <a href="<%= user_path(user) %>" class="spacer block<%= ' female' if user.profile.gender == 'f' %>">
          <div class="caption">
            <h1><%= user.profile.fullname %></h1>
            <p><%= user.profile.title %></p>
          </div>
        </a>
      </figure>
    </div>
  <% end %>
  <div class="break"></div>
</div>
