<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <% if @user.profile %>
    <%= @user.profile.name %>
  <% end -%>
</p>

<p>
  <b>Title:</b>
  <% if @user.profile %>
    <%= @user.profile.title %>
  <% end -%>
</p>

<p>
  <b>Gender:</b>
  <% if @user.profile %>
    <%= @user.profile.gender %>
  <% end -%>
</p>

<p>
  <b>Email:</b>
  <% if @user.profile %>
    <%= @user.profile.email %>
  <% end -%>
</p>

<%= link_to 'Edit Profile', edit_user_profile_path(@user.profile) %> |
<%= link_to 'Change Password', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
