<% content_for :breadcrumb do %>
  <ul>
    <li><%= link_to image_tag('transparent.gif') + 'Users', home_users_path %></li>
    <li><%= link_to image_tag('transparent.gif') + @user.profile.fullname, '#' %></li>
  </ul>
<% end %>

<div class="row">
  <div class="column col1-1">
    <div class="gridSpacer">
      <h1><%= @user.profile.fullname %> <sub><%= @user.profile.title %></sub></h1>
    </div>
  </div>
  <div class="break"></div>
</div>

<div class="row">
  <div class="column col1-6 memberUnits">
    <figure>
      <div class="gridSpacer block<%= ' female' if @user.profile.gender == 'f' %>"></div>
    </figure>
  </div>
  <div class="column col1-2">
    <div class="gridSpacer">
      <div class="blockTools">
        <%= link_to "Edit", edit_user_profile_path(@user.profile) if can? :edit, @user.profile %>
      </div>
      <p>Gender: <%= translate_gender(@user.profile.gender) %></p>
      <p>Email: <%= @user.email %></p>
      <p>Description: <%= @user.profile.description %></p>
    </div>
  </div>
  <% if @user.profile.twitter.present? %>
    <div class="column col1-3">
      <div class="gridSpacer block twitterBlock" id="user_twitter">
        <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
        <script>
            new TWTR.Widget({
                version: 2,
                type: 'profile',
                rpp: 12,
                interval: 30000,
                width: 298,
                height: 273,
                theme: {
                    shell: {
                        background: 'rgba(0,0,0,0)',
                        color: '#000000'
                    },
                    tweets: {
                        background: 'rgba(0,0,0,0)',
                        color: '#000000',
                        links: '#CC0000'
                    }
                },
                features: {
                    scrollbar: true,
                    loop: false,
                    live: false,
                    behavior: 'all'
                }
            }).render().setUser('<%= @user.profile.twitter %>').start();
        </script>
      </div>
    </div>
  <% end %>
  <div class="break"></div>
</div>
