<% content_for :breadcrumb do %>
  <ul>
    <li><%= link_to image_tag('transparent.gif') + 'Users', home_users_path %></li>
    <li><%= link_to image_tag('transparent.gif') + @profile.fullname, user_path(@user.id) %></li>
    <li><%= link_to image_tag('transparent.gif') + 'Edit', '#' %></li>
  </ul>
<% end %>

<% form_for @profile do |profile| %>
  <div class="row">
    <div class="column col1-1">
      <div class="gridSpacer">
        <h1>
          <%= profile.text_field :first_name, :placeholder => 'First name' %>
          <%= profile.text_field :last_name, :placeholder => 'Last name' %>
          <sub><%= profile.text_field :title, :placeholder => 'Title' %></sub>
        </h1>
      </div>
    </div>
    <div class="break"></div>
  </div>

  <div class="row">
    <div class="column col1-6 memberUnits">
      <figure>
        <div class="gridSpacer block<%= ' female' if @profile.gender == 'f' %>"></div>
      </figure>
    </div>
    <div class="column col5-6">
      <div class="gridSpacer">
        Gender:
        <label for="Gender">Male:</label><%= profile.radio_button :gender, "m" %>
        <label for="Gender">Female:</label><%= profile.radio_button :gender, "f" %>
        <%= submit_tag %>
      </div>
    </div>
    <div class="break"></div>
  </div>
<% end %>
