<p id="notice"><%= notice %></p>

<p>
 <h1><%= @profile.fullname %></h1>
 <h1><%= @profile.gender %></h1>
  
</p>


<%= link_to 'Edit', edit_user_profile_path(@profile) %> |
<%= link_to 'Back', user_profiles_path %>
