<%= form_for(@project) do |f| %>
  <div class="row formBlock">
    <div class="column col1-1">
      <div class="gridSpacer">
        <h1>
          <%= f.text_field :name, placeholder: 'Project name' %>
        </h1>
      </div>
    </div>
    <div class="column col3-4">
      <div class="block blockSpacer gridSpacer">
        <% if @project.errors.any? %>
          <div id="error_explanation">
            <h3><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h3>
            <ul>
            <% @project.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div id="wmd-button-bar" class="wmd-panel"></div>
        <%= f.text_area :description, placeholder: 'description', id: 'wmd-input' %>
        <div id="wmd-preview" class="wmd-panel"></div>
        <!-- <div id="wmd-output" class="wmd-panel"></div> -->
        <div class="actions">
          <%= f.submit %>
        </div>
      </div>
    </div>
    <div class="column col1-4">
      <div class="block gridSpacer blockSpacer"></div>
    </div>
  </div>
  <div class="break"></div>
<% end %>
