<% content_for :exhibition do %>
  <div class="articleContainer">
    <div class="spacer">
      <div class="description">
        <article>
          <h1>What does the <%= image_tag 'projectlodge-light.png', :alt => '.projectlodge',:class => 'projectlodgeLogo' %> do?</h1>
          <div class="column">
            <p><em>Everything is a project, even this.</em> - Scott Berkun</p>
            <p>For anything we do we create projects. Projects are a way for us to work together on anything. Code on this website, sit together and talk, come together and go for a walk. All of these things require us to set a goal, plan, communicate and do it. Basically this is a what project is! Goal, time, document and execution.</p>
          </div>
          <div class="column">
            <p>Joining a project is easy. Just join a project and choose your role. Choose what you want to do for the project to reach it's goal.</p>
            <p>Joining can be done on many different levels. Just following the discussion, help organize, help with the execution or initiate your own!</p>
          </div>
        </article>
      </div>
      <!-- <%= render :partial => 'layouts/authentication_widget' %> -->
      <div class="break"></div>
    </div>
  </div>
<% end %>

<% content_for :breadcrumb do %>
  <ul>
    <li><%= link_to image_tag('transparent.gif') + 'Projects', '#' %></li>
  </ul>
<% end %>

<div class="row">
  <% @random_projects.each do |project| %>
    <div class="column col1-2">
      <div class="gridSpacer block blockSpacer">
        <article>
          <h3><%= link_to project.name, project %></h3>
          <p><%= markdown project.description %></p>
        </article>
      </div>
    </div>
  <% end %>
  <div class="break"></div>
</div>

<div class="row">
  <div class="column col1-1">
    <div class="gridSpacer">
      <%= link_to 'Show more projects', projects_path %>
    </div>
  </div>
</div>
