<div class="row">
  <div class="column col1-1">
    <div class="spacer">
      <div class="pageHeader">
        <h1>Projects of <%= image_tag 'projectlodge.png', :alt => '.projectlodge',:class => 'projectlodgeLogo' %></h1>
      </div>
    </div>
  </div>
</div>

<div class="row projectUnits commonArticle">
  <% @projects.each do |project| %>
    <div class="column col1-2">
      <div class="spacer block gridSpaced">
        <article>
          <h1><%= link_to project.name, project %></h1>
          <p><%= project.description %></p>
          <div class="footer">
            <%= link_to 'Show', project %> -
            <%= link_to 'Edit', edit_project_path(project) %> -
            <%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %>
          </div>
        </article>
      </div>
    </div>
  <% end %>
  <div class="break"></div>
</div>
