<% content_for :breadcrumb do %>
  <ul>
    <li><%= link_to image_tag('transparent.gif') + 'Projects', home_projects_path %></li>
    <li><%= link_to image_tag('transparent.gif') + @project.name, '#' %></li>
  </ul>
<% end %>
<div class="row">
  <div class="column col1-1">
    <div class="gridSpacer">
      <h1><%= @project.name %></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="column col3-4">
    <div class="gridSpacer block blockSpacer">
      <div class="blockTools">
        <%= link_to 'Edit', edit_project_path(@project) %> -
        <%= link_to 'Destroy', @project, :confirm => 'Are you sure?', :method => :delete %>
      </div>
      <article>
        <p><%= @project.description %></p>
      </article>
    </div>
  </div>
  <div class="column col1-4">
    <div class="gridSpacer block blockSpacer">
      <h3>Members</h3>
      <%= link_to 'become a member', request_membership_project_path(:project_id => @project.id), :method => :put %>
      <% if @project.memberships %>
        <ul>
          <% @project.memberships.each do |membership|
            role_line = ''
            membership.roles.each do |role|
              role_line << role.name
              role_line << ', ' unless role == membership.roles.last
            end %>
            <li><%= link_to membership.user.profile.fullname, membership.user %> (<%= role_line %>)</li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="break"></div>
</div>
