<%= form_for(@organization) do |f| %>

  <div class="row">
    <div class="column col1-1">
      <div class="gridSpacer">
        <h1><%= f.text_field :name, :placeholder => 'organization name'%></h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column col1-2">
      <div class="gridSpacer block blockSpacer">
        <% if @organization.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

            <ul>
            <% @organization.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <%= f.label :description %>
        <%= f.text_area :description %>
        <%= f.label :website %>
        <%= f.url_field :website %>
      </div>
    </div>
    <div class="column col1-2">
      <div class="gridSpacer">
        <p>map goes here!</p>
        <%= f.label :location %>
        <%= f.text_field :location %>
      </div>
    </div>
    <div class="break"></div>
    <div class="column col1-1">
      <div class="gridSpacer">
        <%= f.submit %>
      </div>
    </div>
  </div>
<% end %>
