<div class="header">
  <div class="spacer">
    <nav>
      <ul class="navigation">
        <li<%= " class='opened'" if @nav == 'Home' %>><a href="/static/home">Home</a></li>
        <li<%= " class='opened'" if @nav == 'Projects' %>>
          <%= link_to('Projects', home_projects_path) %>
          <ul class="columns-3">
            <li class="column">
              <h1>Active projects</h1>
              <ul>
                <li><a href="#">Featured</a></li>
                <li><%= link_to 'All by name', projects_path %></li>
                <li><a href="#">All by popularity</a></li>
                <li><a href="#">My projects</a></li>
              </ul>
            </li>
            <li class="column">
              <h1>Archived projects</h1>
              <ul>
                <li><a href="#">Showcase</a></li>
                <li><a href="#">Archived</a></li>
              </ul>
            </li>
            <li class="column">
              <h1>Starting your own</h1>
              <ul>
                <li><a href="#">How to start?</a></li>
                <li><a href="#">What to think about?</a></li>
                <li><a href="#">What are the guidelines?</a></li>
                <li><a href="#">More FAQ's about groups</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li<%= " class='opened'" if @nav == 'Members' %>><%= link_to('Members', home_users_path) %></li>
        <li<%= " class='opened'" if @nav == 'News' %>><a href="/static/news">News</a></li>
        <li<%= " class='opened'" if @nav == 'About' %>><a href="/static/about">About</a></li>
      </ul>
    </nav>
    <img src="/images/logo-preview.png" alt=".projectlodge" class="logo" />
  </div>
</div>