<div class="header">
  <div class="spacer">
    <nav>
      <ul class="navigation">
        <li<%= " class='opened'" if @nav == 'Home' %>><%= link_to 'Home', '/static/home' %></li>
        <li<%= " class='opened'" if @nav == 'Members' %>>
          <%= link_to 'Members', home_users_path %>
          <ul class="columns-<%= user_signed_in? ? '2' : '1' %>">
            <li class="column">
              <h1>Active members</h1>
              <ul>
                <li><%= link_to 'Featured', home_users_path %></li>
                <li><%= link_to 'All by name', users_path %></li>
                <% if user_signed_in? %>
                  <li><%= link_to 'My profile', user_path(current_user.id) %></li>
                <% end %>
              </ul>
            </li>
            <% if user_signed_in? %>
              <li class="column">
                <h1>My contacts</h1>
                <ul>
                  <li><%= link_to 'My friends', '#' %></li>
                  <li><%= link_to 'People I work with', '#' %></li>
                </ul>
              </li>
            <% end %>
          </ul>
        </li>
        <li<%= " class='opened'" if @nav == 'Projects' %>>
          <%= link_to('Projects', home_projects_path) %>
          <ul class="columns-<%= user_signed_in? ? '3' : '2' %>">
            <li class="column">
              <h1>Active projects</h1>
              <ul>
                <li><%= link_to 'Featured', home_projects_path %></li>
                <li><%= link_to 'All by name', projects_path %></li>
              </ul>
            </li>
            <% if user_signed_in? %>
              <li class="column">
                <h1>My projects</h1>
                <ul>
                  <li><%= link_to 'My participations', '#' %></li>
                  <li><%= link_to 'Start a new project', new_project_path %></li>
                </ul>
              </li>
            <% end %>
            <li class="column">
              <h1>Starting your own</h1>
              <ul>
                <li><%= link_to 'How to start?', '#' %></li>
                <li><%= link_to 'Why to start?', '#' %></li>
                <li><%= link_to "More FAQ's about groups", '#' %></li>
              </ul>
            </li>
          </ul>
        </li>
        <li<%= " class='opened'" if @nav == 'News' %>><%= link_to 'News', '/static/news' %></li>
        <li<%= " class='opened'" if @nav == 'About' %>>
          <%= link_to 'About', '/static/about' %>
          <ul class="columns-1">
            <li class="column">
              <h1>About .projectlodge</h1>
              <ul>
                <li><%= link_to 'Privacy policy', '/static/privacy' %></li>
                <li><%= link_to "Contact", '/static/contact' %></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="special<%= " opened" if @nav == 'BAM2011S' %>"><%= link_to 'BAM2011S', '/bam2011s' %></li>
      </ul>
    </nav>
    <%= link_to image_tag('logo.png', :class => 'logo'), '/static/home'  %>
  </div>
</div>
