<div class="header">
  <div class="spacer">
    <nav>
      <ul class="navigation">
        <li<%= " class='opened'" if @nav == 'Home' %>><a href="/static/home">Home</a></li>
        <li<%= " class='opened'" if @nav == 'Projects' %>><a href="/static/projects">Projects</a></li>
        <li<%= " class='opened'" if @nav == 'Members' %>><a href="/static/members">Members</a></li>
        <li<%= " class='opened'" if @nav == 'News' %>><a href="/static/news">News</a></li>
        <li<%= " class='opened'" if @nav == 'About' %>><a href="/static/about">About</a></li>
      </ul>
    </nav>
    <img src="/images/logo-preview.png" alt=".projectlodge" class="logo" />
  </div>
</div>