<div class="header">
  <div class="spacer">
    <nav>
      <ul class="navigation">
        <li<%= " class='opened'" if @nav == 'Home' %>><%= link_to 'Home', '/static/home' %></li>
        <li<%= " class='opened'" if @nav == 'Members' %>>
          <%= link_to 'Members', home_users_path %>
          <ul class="columns-<%= user_signed_in? ? '2' : '1' %>">
            <li class="column">
              <h1>Active members</h1>
              <ul>
                <li><%= link_to 'Featured', home_users_path %></li>
                <li><%= link_to 'All by name', users_path %></li>
              </ul>
            </li>
            <% if user_signed_in? %>
              <li class="column">
                <h1>Manage profile</h1>
                <ul>
                  <li><%= link_to 'My profile', user_path(current_user.id) %></li>
                </ul>
              </li>
            <% end %>
          </ul>
        </li>
        <li<%= " class='opened'" if @nav == 'Projects' %>>
          <%= link_to('Projects', home_projects_path) %>
          <ul class="columns-<%= user_signed_in? ? '3' : '2' %>">
            <li class="column">
              <h1>Active projects</h1>
              <ul>
                <li><%= link_to 'Featured', home_projects_path %></li>
                <li><%= link_to 'All by name', projects_path %></li>
                <li><%= link_to 'All by popularity', '#' %></li>
              </ul>
            </li>
            <li class="column">
              <h1>About projects</h1>
              <ul>
                <li><%= link_to 'How to start?', '#' %></li>
                <li><%= link_to 'Why to start?', '#' %></li>
                <li><%= link_to "More FAQ's", '#' %></li>
              </ul>
            </li>
            <% if user_signed_in? %>
              <li class="column">
                <h1>Manage projects</h1>
                <ul>
                  <li><%= link_to 'My participations', '#' %></li>
                  <li><%= link_to 'Start a new project', new_project_path %></li>
                </ul>
              </li>
            <% end %>
          </ul>
        </li>
        <li<%= " class='opened'" if @nav == 'Organizations' %>>
          <%= link_to('Organizations', home_organizations_path) %>
          <ul class="columns-<%= (user_signed_in?) ? '3' : '2' %>">
            <li class="column">
              <h1>Organizations</h1>
              <ul>
                <li><%= link_to 'Featured', home_organizations_path %></li>
                <li><%= link_to 'All by name', organizations_path %></li>
                <li><%= link_to 'All by popularity', '#' %></li>
              </ul>
            </li>
            <li class="column">
              <h1>About organizations</h1>
              <ul>
                <li><%= link_to 'What are organizations?', '#' %></li>
                <li><%= link_to 'Why to register one?', '#' %></li>
                <li><%= link_to "More FAQ's", '#' %></li>
              </ul>
            </li>
            <% if user_signed_in? %>
              <li class="column">
                <h1>Manage organizations</h1>
                <ul>
                  <li><%= link_to 'Register a new organization', new_organization_path %></li>
                </ul>
              </li>
            <% end %>
          </ul>
        </li>
        <li<%= " class='opened'" if @nav == 'News' %>><%= link_to 'News', '/static/news' %></li>
        <li<%= " class='opened'" if @nav == 'About' %>><%= link_to 'About', '/static/about' %></li>
        <li class="special<%= " opened" if @nav == 'BAM2011S' %>"><%= link_to 'BAM2011S', '/bam2011s' %></li>
      </ul>
    </nav>
    <%= link_to image_tag('logo.png', :class => 'logo'), '/static/home'  %>
  </div>
</div>
