<div class="toolbar">
  <ul class="right">
    <% if @current_user.present? %>
      <li><%= link_to 'Edit Account Information', user_path(@current_user) %></li>
      <li><%= link_to 'Edit Profile', user_profile_path(@current_user) %></li>
      <li><%= link_to 'Logout', destroy_user_session_path %></li>
    <% else %>
      <li><%= link_to 'Login', new_user_session_path  %></li>
      <li><%= link_to 'Register', user_registration_path %></li>
    <% end %>
  </ul>
</div>
