<!doctype html>
<html style="overflow-x: hidden;">
  <head>
    <%= render :partial => 'layouts/head' %>
  </head>
  <body>
    <header class="exhibition">
      <%= yield :exhibition %>
      <%= render :partial => 'layouts/navigation' %>
    </header>
    <div class="content gridlayout exhibition">
      <%= yield %>
    </div>
    <footer>
      <%= render :partial => 'layouts/sitemap' %>
      <%= render :partial => 'layouts/toolbar' %>
    </footer>
  </body>
</html>