<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="en" />
    <meta name="copyright" content="Creative Commons" />
    <meta name="distribution" content="global" />
    <meta name="googlebot" content="index,follow" />
    <meta name="robots" content="index,follow" />

    <meta name="publisher" content=".freefoundry" />
    <meta name="Designer" content="Joost Elfering" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <meta http-equiv="imagetoolbar" content="no" />

    <title><%= @nav %>.freefoundry</title>

    <link rel="shortcut icon" href="http://www.d-its.net/favicon.ico">
    <link href="/stylesheets/base.css" media="all" rel="stylesheet" type="text/css" />
    <!--[if IE]>
    <link href="stylesheets/iebh.css" media="all" rel="stylesheet" type="text/css" />
    <![endif]-->
    <script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js"></script>
    <script type="text/javascript">
      jQ = jQuery.noConflict();
    </script>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
    <header>
      <div class="header">
        <div class="spacer">
          <nav>
            <ul class="navigation">
              <li<%= " class='opened'" if @nav == 'Home' %>><a href="/static/home">Home</a></li>
              <li<%= " class='opened'" if @nav == 'Projects' %>><a href="/static/projects">Projects</a></li>
              <li<%= " class='opened'" if @nav == 'Members' %>><a href="/static/members">Members</a></li>
              <li<%= " class='opened'" if @nav == 'News' %>><a href="/static/news">News</a></li>
              <li<%= " class='opened'" if @nav == 'About' %>><a href="/static/about">About</a></li>
            </ul>
          </nav>
          <img src="/images/logo-preview.png" alt=".freefoundry" class="logo" />
        </div>
      </div>
    </header>
    <div class="canvas">
      <%= yield %>
    </div>
    <footer>
      <div class="toolbar">
        <div class="spacer">
          <ul class="right">
            <% if @current_user %>
              <li class="secondary"><%= link_to 'Edit Profile', user_path(@current_user) %></li>
              <li><%= link_to 'Logout', logout_path %></li>
            <% else %>
              <li class="secondary"><%= link_to 'Register', new_user_path %></li>
              <li><%= link_to 'Login', login_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>

<script type="text/javascript">
  <!--
  if (jQuery.browser.msie){
    document.getElementById('ie_fallback').innerHTML = '<div class="browserWarning">Currently you are using Internet Explorer. The site will be working properly for you. Users with an HTML5 compatible browser will get a better experience on this website. We as the .freefoundry would like to advize you to use a modern browser. As an open-source community we obviously would like to point you to the <a href="http://www.firefox.com/">Mozilla Firefox</a> and <a href="http://chrome.google.com/">Google Chrome</a> browsers</div>';
  }
  //-->
</script>
