<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="en" />
    <meta name="copyright" content="Creative Commons" />
    <meta name="distribution" content="global" />
    <meta name="googlebot" content="index,follow" />
    <meta name="robots" content="index,follow" />

    <meta name="publisher" content=".freefoundry" />
    <meta name="Designer" content="Joost Elfering" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <meta http-equiv="imagetoolbar" content="no" />

    <title><%= @nav %>.freefoundry</title>

    <link rel="shortcut icon" href="http://www.d-its.net/favicon.ico">
    <link href="/stylesheets/base.css" media="all" rel="stylesheet" type="text/css" />
    <!--[if IE]>
    <link href="stylesheets/iebh.css" media="all" rel="stylesheet" type="text/css" />
    <![endif]-->
    <script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js"></script>
    <script type="text/javascript">
      jQ = jQuery.noConflict();
    </script>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
    <header>
      <%= render :partial => 'layouts/navigation' %>
    </header>
    <div class="content gridlayout">
      <%= yield %>
    </div>
    <footer>
      <%= render :partial => 'layouts/toolbar' %>
    </footer>
  </body>
</html>